 .dx-button{
    border-radius: 50%;
    transition: transform 200ms;
    .dx-icon-sun {
        color: rgb(206, 190, 18);
    }

}
.mode-button{
    background-color: #e4e6e97b;
    width: 80px;
    border-radius: 50px;
    padding: 5px;


}



